.cover {
  max-width: 1184px;
  min-height: 740px;
  margin: 92px auto 0;
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
}

.cover::before {
  width: 100%;
  min-height: 100%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(42, 44, 47, 1);
  opacity: 0.3;    
}

.cover:hover::before {
  opacity: 0.8;
}  

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    margin-top: 90px;
  }
}
@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
    margin-top: 66px;
  }
  }

