.lead__subtitle {
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 56px;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 1.02;
  text-align: center;
  }

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 1.25;
  }
  }


