.place {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;   
}

@media screen and (max-width: 719px) {
  .place {
    justify-content: center; 
  }
}


@media screen and (max-width: 320px) {
  .place {
    justify-content: start; 
  }
}
