.lead__caption {
  padding-top: 8px;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__caption {
   padding-left: 24px;
  }
  }
@media screen and (max-width: 320px) {
  .lead__caption {
   padding-left: 16px;
  }
  }
